@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --b: 0.2px solid rgb(0, 51, 255);
  --r: 0.2px solid rgba(255, 0, 0, 0.123);
  --move: 60px;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  /* border: var(--r); */
}

html {
  height: min-content;
  /* border: var(--b); */
}

body {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-rows: 100px 220px 1fr;
}

header {
  display: flex;

  align-items: center;
}

h1 {
  /* font-size: clamp(2.5rem, 3vw, 4rem); */
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;

  font-weight: 450;
}

h5 {
  font-size: 14px;
}

.hour-title,
.hour-temp {
  font-weight: 500;
}

.main-information {
  /* mask-image: linear-gradient(to bottom, black, transparent); */
}

.main-information > * {
  margin-top: 2px;
}

.highs.deg {
  margin-right: 10px;
}

.lows.deg {
  margin-right: 10px;
}

.wrapper {
  grid-row: 3 / 4;
  /* border: 1px solid black; */
  padding-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  /* mask-image: linear-gradient(to top, black 96%, transparent 100%); */
  /* background-color: red; */
}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 550px;
  height: 30px;
  border-style: none;
  border-radius: 50px;
  border: 1.8px solid rgb(255, 255, 255);

  margin-left: 20px;
  transition: all 1s;
}

.search-icon {
  margin-left: 10px;
}

.settings {
  margin-left: auto;
  margin-right: 20px;

  border: 1.8px solid white;
  border-radius: 25px;

  color: white;
  display: flex;

  justify-content: center;
  align-items: center;

  box-shadow: inset 0px 0px 1px 0.2px rgba(248, 248, 248, 0.877),
    inset 0px 0px 10px 1px rgba(244, 248, 248, 0.126),
    1.5px 1.5px 4px 0.2px rgba(48, 48, 48, 0.285);
  background-color: rgba(197, 215, 255, 0.619);
}

#search-query {
  margin-left: 5px;
  height: 90%;
  width: 90%;
  font-size: 16px;

  background-color: transparent;
  border-style: none;
  color: white;
}

input:focus {
  outline: none;
}

button.settings {
  height: 30px;
  width: 30px;
}

.main-information {
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h-l-container {
  display: flex;
  flex-direction: row;
}

.temperature {
  font-size: 50px;
}

.weather-info-container {
  grid-template-columns: repeat(6, minmax(100px, 200px));
  grid-template-rows: repeat(5, minmax(150px, 200px));

  justify-content: center;
  display: grid;
  overflow: auto;

  padding: 20px;

  justify-content: center;

  grid-template-areas:
    "hourly-weather hourly-weather hourly-weather hourly-weather weather-alert weather-alert"
    "daily-weather daily-weather wind wind weather-alert weather-alert"
    "daily-weather daily-weather air-quality air-quality uv-index pressure"
    "daily-weather daily-weather severe-risk moon-phase precip feels-like"
    "daily-weather daily-weather humidity visibility sunrise averages";

  gap: 20px;
}

/* Props */

.sun-shine {
  z-index: -10;
  position: fixed;
  filter: blur(2px);
  border-radius: 550px;

  height: 550px;
  width: 550px;
  min-height: 550px;
  min-width: 550px;
  top: -50px;
  left: -50px;

  background-color: transparent;

  box-shadow: 0px 4px 100px 20px #07a8ff8c, 0px 4px 170px 20px #5836ff7b,
    0px 0px 50px 5px #22d3ff73, 5px 5px 40px 20px #70fff3a5,
    0px 4px 40px 20px #faf1517e;
}

.moon {
  z-index: -1;
  position: fixed;
  border-radius: 100px;
  min-height: 100px;
  min-width: 100px;
  top: 150px;
  right: 150px;
  background-color: white;
  box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.833);
}

.sun {
  z-index: -1;
  filter: blur(0px);
  border-radius: 100px;
  position: fixed;
  min-height: 100px;
  min-width: 100px;
  top: 150px;
  left: 150px;

  background-color: white;

  box-shadow: 0px 4px 100px 20px #faff9e, 0px 4px 170px 20px #ffe39b,
    inset 0px 0px 50px 5px #fcec91, 0px 4px 250px 168px #fffbb677;
}

/* General */

.title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.title .iconify {
  margin-right: 5px;
}

.description {
  margin-top: auto;
}

.main-content {
  position: relative;
}

.deg::after {
  content: "°";
}

/* STYLING */

.title {
  color: rgba(255, 255, 255, 0.61);
}

h1 {
  color: white;
  text-shadow: 1.5px 1.5px 4.5px rgba(79, 79, 87, 0.468);
  font-weight: 350;
  font-size: 50px;
}

h4,
h2,
div {
  color: white;
  text-shadow: 0.5px 0.5px 2.5px rgba(79, 79, 87, 0.468);
}

.temperature {
  color: white;
  text-shadow: 1.5px 1.5px 4.5px rgba(79, 79, 87, 0.468);
  font-weight: 250;
  font-size: 80px;
}

h3 {
  color: white;
  text-shadow: 1.5px 1.5px 4.5px rgba(79, 79, 87, 0.468);
  font-weight: 450;
}

.box,
.settings-dialog {
  box-shadow: inset 0px 0px 1px 0.2px rgba(248, 248, 248, 0.877),
    inset 0px 0px 10px 1px rgba(244, 248, 248, 0.126),
    1.5px 1.5px 4px 0.2px rgba(48, 48, 48, 0.285);
  background-color: rgba(197, 215, 255, 0.153);
}

.box {
  backdrop-filter: blur(50px);

  position: relative;
  padding: 15px;

  border-radius: 20px;

  z-index: 0;

  display: flex;
  flex-direction: column;
}

body {
  /* background: #2f91f4; */

  /* Sunrise */
  background: linear-gradient(
    180deg,
    rgb(255, 137, 137) 20%,
    rgb(98, 92, 193) 100%
  );

  /* Night */
  /* background: linear-gradient(
    180deg,
    rgb(33, 29, 53) 20%,
    rgb(23, 22, 30) 100%
  ); */

  /* //Rainy */
  /* background: linear-gradient(
    180deg,
    rgb(57, 67, 78) 0%,
    rgb(123, 148, 163) 100%
  ); */

  /* Later in day */
  /* background: linear-gradient(
    180deg,
    rgb(49, 106, 162) 0%,
    rgb(111, 199, 253) 100%
  ); */

  /* background: linear-gradient(
    180deg,
    rgb(75, 160, 245) 0%,
    rgba(130, 207, 255, 1) 100%
  ); */
}

/* ERROR */

.invalid-city-pop-up {
  border: 1.8px solid red;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
  background-color: rgba(255, 127, 127, 0.546);
  margin-right: 10px;
}

.invalid-city-pop-up h4 {
  color: rgb(217, 2, 2);
  text-shadow: none;
}

/* -------- HOURLY  */
.hourly-weather {
}

.hourly-weather-description {
  margin-bottom: 5px;
}
.hourly-container {
  margin-top: 3px;
  gap: 2px;
  display: flex;

  height: 300px;

  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;

  justify-items: center;
}

.hour-temp {
  margin-top: auto;
}
.hour-icon {
  font-size: 22px;
  align-self: center;
  margin-top: auto;
}

.hourly-weather-title {
  /* color: #c5f0ffc6; */
}

.hour-item:hover {
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.hour-item {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;

  border-radius: 20px;
  max-width: 40px;
  min-width: 40px;
  width: 40px;

  padding: 10px;
  flex: 1;
  transition: all 0.5s ease;
}

/* -------- DAILY  */

.daily-weather {
  grid-area: daily-weather;
}

.daily-weather-title {
}

.daily-container {
  overflow-y: auto;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daily-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.331);
  /* border-radius: 10px; */

  align-items: center;
  transition: all 0.5s ease;
}

.daily-item:first-child {
  font-weight: bold;
}

.daily-item:last-child {
  border-bottom: none;
}

.daily.line {
  background-color: rgb(197, 197, 197);
  justify-content: center;
  width: 100px;
}

.daily-colored.line {
  position: absolute;

  align-self: center;
  width: 1px;
  transform: translateX(0px);
  transform-origin: left;

  border: none;
}

.daily-min-max {
  display: flex;
  align-items: center;

  min-width: 200px;
  justify-content: center;
}

.daily-icon {
  font-size: 19px;
  margin-right: 25px;
}

.daily-min-temp {
  width: 40px;
  margin-right: 0px;
  color: rgba(202, 239, 255, 0.824);
}

.daily-max-temp {
  margin-left: 10px;
}

.daily-item > * {
  flex: 1;
}

.severe-risk {
  grid-area: severe-risk;
}
.hourly-weather {
  grid-area: hourly-weather;
}

/* AIR QUALITY */

.air-quality {
  grid-area: air-quality;
}

.line {
  position: relative;
  width: 100%;
  height: 5px;

  border-radius: 25px;

  display: flex;
  align-items: center;
}

.circle {
  width: 5px;
  height: 5px;
  position: absolute;
  top: -1.3px;
  transform: translateX(0px);
  border-radius: 100px;
  border: 1.5px solid black;
  background-color: white;
  transition: all 1s;
}

.air-quality .line {
  background: #1eff00;
  background: #00ffb7;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 183, 1) 0%,
    rgba(251, 255, 0, 1) 13%,
    rgba(255, 191, 0, 1) 25%,
    rgba(255, 61, 61, 1) 38%,
    rgba(213, 53, 121, 1) 47%,
    rgba(161, 45, 196, 1) 61%,
    rgba(162, 2, 2, 1) 88%,
    rgba(112, 0, 0, 1) 100%
  );
}

/* WEATHER ALERTS */

.weather-alert {
  grid-area: weather-alert;
  overflow-y: auto;
}

.weather-alert-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-alert-title {
  margin-bottom: 5px;
}

/* UV INDEX */

.uv-index {
  grid-area: uv-index;
}

.meter {
  display: flex;
  align-items: center;
  height: 45px;
}

.uv-index .line {
  background: #1eff00;
  background: linear-gradient(
    90deg,
    rgba(30, 255, 0, 1) 0%,
    rgba(251, 255, 0, 1) 20%,
    rgba(255, 191, 0, 1) 40%,
    rgba(255, 61, 61, 1) 60%,
    rgba(128, 4, 199, 1) 100%,
    rgba(199, 4, 180, 1) 80%
  );
}

.sunrise {
  grid-area: sunrise;
}

/* MOON */

.moon-phase {
  grid-area: moon-phase;
}

.moon-icon {
  position: relative;
  display: flex;

  height: 100%;
  font-size: 100px;
  align-items: center;
  justify-content: center;
}

.bottom-moon {
  color: grey;
}

.top-moon {
  position: absolute;
  color: rgb(186, 186, 186);
}

/* WIND */

.wind {
  grid-area: wind;
}

.wind-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wind-wrapper {
  justify-self: center;
}

.wind-container > * {
  flex: 1;
}

.wind-item {
  display: flex;
  padding: 10px 0px;
}

.wind-item ~ * {
  border-top: 1px solid rgba(255, 255, 255, 0.434);
}

.wind-number,
.wind-gusts-number,
.wind-dir-number {
  margin-left: auto;
}

.wind-sub,
.wind-gusts,
.wind-dir {
  margin-right: auto;
}

/* COMPASS */

.wind-compass {
  height: 100%;
  border-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind-circle {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  border-color: rgba(255, 255, 255, 0.208);
  background-color: #8dc2ed;
  box-shadow: 0px 0px 10.5px 2px rgba(0, 0, 0, 0.153);
}

.south,
.north,
.west,
.east {
  position: absolute;
  font-size: 10px;
}

.north {
  transform: translateY(-55px);
}
.east {
  transform: translateX(55px);
}
.west {
  transform: translateX(-55px);
}
.south {
  transform: translateY(55px);
}

.compass-line {
  height: 7px;
  width: 0.3px;
  transform-origin: center;
  background-color: rgba(255, 243, 243, 0.422);
  position: absolute;

  align-self: center;
  border: none;
}

.compass-line.bold {
  width: 1px;
  background-color: rgba(255, 250, 250, 0.938);
}

/* ARROW */

.arrow,
.arrow-line,
.arrow-point,
.arrow-point-left,
.arrow-point-right,
.arrow-circle {
  z-index: -100;
  background-color: rgb(255, 255, 255);
}

.arrow {
  position: absolute;
  transform-origin: center;
  transform: rotate(0deg);
  transition: all 1s;
}

.arrow-line {
  position: relative;

  width: 2px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 25px;
}

.arrow-point {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-point-right,
.arrow-point-left {
  position: absolute;
  width: 2px;
  height: 10px;
  border-radius: 25px;
}

.arrow-point-right {
  transform: translateY(48px) translateX(3px) rotate(45deg);
}

.arrow-point-left {
  transform: translateY(48px) translateX(-3px) rotate(-45deg);
}

.arrow-circle {
  height: 6px;
  width: 6px;
  border-radius: 90px;
  position: absolute;
  transform: translateY(-48px);
}

.test2 {
  height: 10px;
  width: 0.3px;
  /* top: -25px; */

  transform: rotate(90deg) translateY(40px);

  transform-origin: center;

  background-color: grey;
  position: absolute;

  align-self: center;
}

.precip {
  grid-area: precip;
}

.feels-like {
  grid-area: feels-like;
}

.humidity {
  grid-area: humidity;
}

.visibility {
  grid-area: visibility;
}

/* PRESSURE */

.pressure {
  grid-area: pressure;
}

.pressure-meter {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.pressure-circle {
  width: 90px;
  height: 90px;
  border-radius: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.pressure-marker {
  width: 3px;
  height: 13px;
  position: absolute;
  border-radius: 20px;
  border: 1.5px solid black;
  z-index: 1;
  background-color: white;
  transition: all 1s;
}

.pressure-line {
  width: 2px;
  height: 10px;
  position: absolute;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.911);
}
.pressure-text {
  display: flex;
  /* margin-top: 5px; */
}

.pressure-low {
  margin-right: 40px;
}

/* AVERAGES */
.average-summary {
  display: flex;
  flex-direction: column;
}

.average-today-container,
.average-week-container {
  display: flex;
}

.average-week-number,
.average-today-number {
  margin-left: auto;
  font-weight: bold;
}

.averages {
  grid-area: averages;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;
  margin: 2px;
  /* opacity: 0.3; */
  /* background: linear-gradient(-185deg, #8ccfff 0%, #1592ff 59%, #0093d7 100%); */
  /* box-shadow: inset 0px 0px 20px 2px #8ccfff; */
}

/* DIALOG */

.settings-dialog {
  right: 60px;
  top: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 260px;
  border-radius: 25px;
  /* background-color: #bed0e1; */
  backdrop-filter: blur(20px);

  padding: 20px;

  /* align-items: center;
  justify-content: center; */
}

.dialog-item {
  display: flex;
  margin-top: 5px;
}
.button-wrapper {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.settings-dialog button {
  border-style: none;
  color: white;
  background-color: rgba(20, 19, 19, 0.167);

  height: 30px;
  width: 40px;
  border-radius: 20px;
  box-shadow: inset -1px -1px 0.5px 0.2px rgba(255, 255, 255, 0.283),
    1px 1px 0.5px 0.2px rgba(0, 0, 0, 0.352);
}

.button-done-wrapper {
  display: flex;
}

.done-button {
  margin-left: auto;

  height: 30px;
  width: 40px;
  border-radius: 20px;

  margin-top: 10px;
}

@media screen and (min-width: 920px) and (max-width: 1300px) {
  .weather-info-container {
    grid-template-columns: repeat(4, minmax(100px, 200px));
    grid-template-rows: repeat(7, minmax(150px, 200px));

    grid-template-areas:
      "hourly-weather hourly-weather hourly-weather hourly-weather"
      "daily-weather daily-weather weather-alert weather-alert"
      "daily-weather daily-weather wind wind "
      "daily-weather daily-weather air-quality air-quality "
      "precip feels-like uv-index sunrise"
      "humidity visibility pressure averages"
      "severe-risk moon-phase . .";

    gap: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .search-wrapper {
    width: 300px;
  }

  #search-query {
    width: 80%;
  }

  .weather-info-container {
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-auto-rows: 0px;
    grid-auto-columns: 0px;
    grid-template-rows: repeat(11, minmax(100px, 200px));

    grid-template-areas:
      "hourly-weather hourly-weather"
      "daily-weather daily-weather"
      "daily-weather daily-weather"
      "wind wind"
      "air-quality air-quality"
      "uv-index weather-alert"
      "severe-risk moon-phase"
      "precip feels-like"
      "sunrise humidity"
      "pressure visibility"
      "averages .";

    gap: 20px;
  }
}

/* hidden */

.hidden {
  display: none;
}
